*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
html,body{
    font-family: 'Shadows Into Light', cursive;
    font-size: 1.1rem;
}
.dropdown-toggle::after{
    display: none;
}
.gorev label.checked{
    text-decoration: line-through;
    color: rgb(192, 190, 190);
}